<!DOCTYPE html>

<head>
  <meta charset="UTF-8">
  <link href="../assets/css/style.css" rel="stylesheet">
  <script src="../assets/js/mqtt.min.js"></script>
  <script src="../assets/js/func.js"></script>
  <script src="../assets/js/operate.js"></script>
  <script src="../assets/js/client.js"></script>
</head>

<body class="dark_mode">

  <div id="topic">Ketagalan Barefoot <br> IOT Control Commission</div>

  <div>
    <button id="mode_button">light mode</button>
  </div>

  <div class="main">

    <div id="connect_line">
      <div class="light yellow" id="connect_light"></div>
      <div class="yellow" id="connect_msg">Connecting to mqtt server.</div>
    </div>

    <div class="line">
      <div class="title">Device Name</div>
      <button class="content" id="delete">Delete</button>
      <select class="content" id="device_list"></select>

    </div>

    <div class="line">
      <div class="title">Device Status:</div>
      <div id="status_light" class="light yellow"></div>
      <div id="status_msg">(not connected)</div>
      <button class="content" id="change">Load Status</button>
    </div>

    <div class="line">
      <div class="title">Current Status:</div>
      <div id="current" class="title yellow">0/0 (mA)</div>
      <input type="text" class="content" id="input_limit">
      <div class="err_msg" id="limit_err_msg"></div>
    </div>
    <button class="content" id="set">Set Current Limit</button>

  </div>

  <div class="main">
    <div class="line">
      <div class="title">Input Device Name</div>
      <input type="text" class="content" id="input_name">
      <div class="err_msg" id="name_err_msg"></div>
    </div>

    <div class="line">
      <div class="title">Input Device ID</div>
      <input type="text" class="content" id="input_id">
      <div class="err_msg" id="id_err_msg"></div>
    </div>

    <div class="line">
      <button class="content" id="add_device">Add New Device</button>
    </div>
  </div>

  <div id="message"></div>



  <script src="../main.js"></script>
</body>



</html>