<!DOCTYPE html>

<head>
  <meta charset="UTF-8">
  <link href="../assets/css/style.css" rel="stylesheet">
  <script src="../assets/js/mqtt.min.js"></script>
</head>

<body>

  <div id="topic">Ketagalan Barefoot <br> IOT Control Commission</div>

  <div class="main">

    <div id="connect_msg"></div>

    <div class="line">
      <div class="title">Device Name</div>
      <select class="content" id="device_list"></select>
    </div>

    <div class="line">
      <div class="title">Device Status</div>
      <div class="title yellow" id="status">🔴</div>
      <button class="content" id="change">Load Status</button>
    </div>

    <div class="line">
      <div class="title">Current Status：</div>
      <div class="title green" id="current"></div>
      <input type="text" class="content" id="input_limit">
      <div class="err_msg" id="limit_err_msg"></div>
    </div>
    <button class="content" id="set">Set Current Limit</button>

  </div>

  <div class="main">
    <div class="line">
      <div class="title">Input Device Name</div>
      <input type="text" class="content" id="input_name">
      <div class="err_msg" id="name_err_msg"></div>
    </div>

    <div class="line">
      <div class="title">Input Device ID</div>
      <input type="text" class="content" id="input_id">
      <div class="err_msg" id="id_err_msg"></div>
    </div>

    <div class="line">
      <button class="content" id="add_device">New Device</button>
    </div>
  </div>

  <div id="message"></div>



  <script src="../main.js"></script>
</body>



</html>